@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-8xl: 1380px;
  --max-w-8xl: 1380px;
  --color-accent-blue-dark: #7caeff; /* Example Accent Color */
  --color-accent-blue-light: #a3c6ff; /* Example Accent Color */
  --color-accent-purple-light: #dbcbf5; /* Example Accent Color */
  --color-accent-purple-dark: #b697ea; /* Example Accent Color */
  --color-text-dark: #1b1716; /* Example Accent Color */

  --color-accent-rose-dark: #f8b2cc;
  --color-accent-rose-light: #ffd5e5;

  --color-light-blue-bg: rgba(163, 198, 255, 0.1);
  --color-light-slate-bg: rgba(218, 186, 245, 0.10);
  --color-footer-bg: rgba(193, 237, 165, 0.10);

  

  --text-h1: clamp(1.75rem, 1.0962rem + 3.2692vw, 6rem);
  --text-h2: clamp(1.75rem, 1.4808rem + 1.3462vw, 3.5rem);
  --text-h3: clamp(1.25rem, 1.1346rem + 0.5769vw, 2rem);
  --text-subtitle: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
  --text-paragraph: clamp(1rem, 0.9615rem + 0.1923vw, 1.25rem);
  --text-testimonial-paragraph: clamp(1rem, 0.875rem + 0.625vw, 1.375rem);

  --animate-accordion-down: accordion-down 0.4s ease-out;
  --animate-accordion-up: accordion-up 0.4s ease-out;

  @keyframes accordion-down {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes accordion-up {
    from {
      max-height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    to {
      max-height: 0;
      opacity: 0;
    }
  }
}

.text-subtitle {
  font-size: var(--text-subtitle);
  @apply font-semibold tracking-widest;
}
.text-h1 {
  font-size: var(--text-h1);
  @apply font-bold text-white leading-[1.2];
}
.text-h2 {
  font-size: var(--text-h2);
  @apply font-semibold tracking-widest text-text-dark leading-[1.1];
}
.text-h3 {
  font-size: var(--text-h3);
  @apply font-semibold tracking-widest text-text-dark leading-[1.1];
}

.text-paragraph {
  font-size: var(--text-paragraph);
}
.text-testimonial-paragraph {
  font-size: var(--text-testimonial-paragraph);
  @apply text-gray-500 italic;
}


/* Video play button*/

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #eb2055; */
  border-radius: 50%;
  
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 35px;
  height: 35px;
  background: #eb2055;
  border-radius: 50%;
  animation: pulse-border 1100ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #eb2055;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 15px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: 14px;
  left: 10px;
}